<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>REPOSITORY_WEB_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>REPOSITORY_WEB_IP_EXTERNAL</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>REPOSITORY_WEB_PORT</param-name>
        <param-value>8080</param-value>
    </context-param>
    <context-param>
        <param-name>ASTERISK_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>ASTERISK_PORT</param-name>
        <param-value>5038</param-value>
    </context-param>
    <context-param>
        <param-name>ASTERISK_USER</param-name>
        <param-value>jpbx</param-value>
    </context-param>
    <context-param>
        <param-name>ASTERISK_PASS</param-name>
        <param-value>jpbxadmin</param-value>
    </context-param>
    <context-param>
        <param-name>ASTERISK_USER_EVENT</param-name>
        <param-value>jpbxEvents</param-value>
    </context-param>
    <context-param>
        <param-name>ASTERISK_PASS_EVENT</param-name>
        <param-value>myJPBXEvents</param-value>
    </context-param>
    <context-param>
        <param-name>JPBX_HARD_KEY</param-name>
        <param-value>d50498e8a995f4781d2994da1e59f3c5</param-value>
    </context-param>
   
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/jpbx/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>jpbx/index.xhtml</welcome-file>
    </welcome-file-list>
       
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/LogoutServlet</location>
    </error-page>
</web-app>
